/dts-v1/;
/plugin/;

/ {
        compatible = "brcm,bcm2835";

        fragment@0 {
                target-path = "/";

                __overlay__ {
                        my_gpio {
                                compatible = "mtm,my_gpio";
                                led-gpio = <&gpio 22 0>;
                                btn-gpio = <&gpio 17 0>;
                        };
                };
        };
};